.chat-panel {
    border: 1px solid #ccc;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    width: 300px;
}

.chat-messages {
    height: 90%;
    overflow-y: auto;
}

.chat-message-even {
    background-color: #2e2e2e;
}

.chat-message-odd {
    background-color: #323232;
}

.chat-username {
    font-weight: bold;
    color: rgb(109, 187, 85);
}

.chat-content {
    font-size: 14px;
}

.chat-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    border-top: 1px solid #ccc;
    background-color: #393939;
}

.chat-input {
    width: 75%;
    height: 100%;
    border: none;
    background: none;
    margin-left: 5px;
}

.chat-send {
    height: 100%;
    border: none;
    background: none;
    margin: auto;
    cursor: pointer;
    color: #fff;
}

.chat-send:hover {
    color: #ccc;
}

.chat-send:active {
    color: #bebebe;
}

.chat-message {
    padding-left: 8px;
    padding-right: 8px;
}