:root {
    --background-size: 750px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: url("./assets/chess_print.png");
    animation: background-moving 60s infinite linear;
    background-size: var(--background-size) var(--background-size);
    background-repeat: repeat;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes background-moving {
    0% { background-position: var(--background-size) calc(var(--background-size) * -1); }
    100% { background-position: 0px 0px; }
}